<div class="row">
  <div class="col-md-2 offset-md-5">
    <a [routerLink]="['/home',userId]">Back to dashboard</a>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [weekends]="true"
      (dateClick)="handleDateClick($event, NewEventContent)" 
      (eventClick)="handleEventClick($event, NewEventContent)"
      [events]="calendarEvents"></full-calendar>
  </div>
</div>

<ng-template #NewEventContent let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="!isEditMode" class="modal-title text-center" id="modal-basic-title">Hi <b>{{userName}}!</b>, write your note..</h4>
    <h4 *ngIf="isEditMode" class="modal-title text-center" id="modal-basic-title">Hi <b>{{userName}}!</b>, edit your note..</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center">Selected Date: <b>{{selectedDate | date}}</b></p>
    <textarea class="form-control"
    [(ngModel)]="Note" name="note"
    [style.backgroundColor]="backgroundColorNoteTextArea"
    placeholder="type your note here!" rows="2" cols="4">
    </textarea>
    <color-github color="#fff" 
    (onChangeComplete)="changeComplete($event)">
    </color-github>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="Save()"> 
      {{isEditMode ? 'Update': 'Save'}}</button>
  </div>
</ng-template>



