<div class="d-flex flex-row text-center">
    <div class="p-2">
        <img src="../../assets/trash-green.png" (click)="DeleteNote()" 
        title="Delete Note" class="icon img-responsive">
    </div>
    <div class="p-2">
        <img src="../../assets/004-star.png" (click)="toggleBookmark()" 
        title={{bookmarkToolTip}}
            class="icon img-responsive">
    </div>
    <div class="p-2">
        <img src="../../assets/004-mail.png" title="Send Note As Mail"
         class="icon img-responsive">
    </div>
    <div class="p-2">
        <img src="../../assets/whatsapp.png" (click)="sendNoteAsWhatsAppMsg()" 
        title="Send this note to your whatsapp contact"
        class="icon img-responsive">
    </div>
    <div class="p-2">
        <img src="../../assets/hand.png" (click)="moveup()" 
        title="Move Up"
        class="icon img-responsive move-up">
    </div>
</div>

