<div class="row">
    <div class="col-xs-12 col-md-12">
        <br>
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <app-header></app-header>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <input type="text" name="noteTitle"
                 placeholder="Note Title" 
                 title="Note Title"
                 #InputTextTEST 
                 [(ngModel)]="selectedNoteTitle"
                 readonly class="form-control">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div>
                    <ngx-loading-bar [fixed]="false" ref="loadingWorkbook"
                     [diameter]="20"></ngx-loading-bar>
                </div>
                <div [froalaEditor]="options" #InputText (model)="onFroalaModelChanged($event)"
                    [(froalaModel)]="editorContent">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div [froalaView]="editorContent"></div>

<p [innerHTML]="rawHtml"> </p> -->