<div class="notes-div">
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
            <small>Total Note(s):
                <span class="badge badge-info"> {{totalNotesCount}} </span>
            </small>
        </div>
    </div>
    <hr>
    
    <div class="row" *ngIf="totalNotesCount === 0"> 
        <div class="col-xs-12 col-md-12 text-center">
            <h3>No notes found!! click to add.</h3>
        </div>
    </div>

    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>


    <div *ngIf="isNotesFound && totalNotesCount > 0">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div ngbDropdown class="d-inline-block float-right" style="margin-right: 10px;">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-cog" aria-hidden="true"></i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="toggleBookmarked()">{{ShowBookmarks}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="notes-content style-4" #notesDiv>
            <app-note *ngFor="let noteEl of notes | keyvalue;
            let i = index" [noteIndex]="i" [index]="noteEl.key" [note]="noteEl"></app-note>
        </div>
    </div>

    <hr>

    <div class="row" *ngIf="addNewNote else addingNewNoteMode;">
        <div class="col-xs-12 col-md-12">
            <button class="btn btn-block btn-outline-primary btn-sm"
             (click)="addNewNoteClickHandler()">
                Add New Note
            </button>
        </div>
    </div>

    <ng-template #addingNewNoteMode>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <input type="text" [(ngModel)]="noteTitle" placeholder="Type Note Title" class="form-control">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <button (click)="saveNewNote()" class="btn btn-block btn-outline-success btn-custom btn-sm">
                    Save Note
                </button>
            </div>
            <div class="col-xs-6 col-md-6">
                <button class="btn btn-block btn-outline-danger btn-sm" (click)="cancelNewNoteClickHandler()">
                    Cancel
                </button>
            </div>
        </div>
    </ng-template>
</div>